# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Entornos virtuales
venv/
env/
.venv/
.env/

# IDEs / Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs y bases de datos locales
*.log
*.sqlite3

# FastAPI / Starlette
instance/
*.db

# Archivos de sistema
.DS_Store
Thumbs.db